<a href="{{ path('new-item') }}">Dodaj</a><br />
<a href="{{ path('items') }}">Wszystkie produkty</a><br />
<a href="{{ path('in-stock-items') }}">Produkty, które znajdują się na składzie</a><br />
<a href="{{ path('out-of-stock-items') }}">Produkty, które nie znajdują się na składzie</a><br />
<a href="{{ path('min-six-items') }}">Produkty, które znajdują się na składzie w ilości większej niż 5</a><br />

<table>
    <tr>
        <th>Nazwa</th>
        <th>Ilość w magazynie</th>
        <th></th>
        <th></th>
    </tr>
    {% for item in items %}
        <tr>
            <td>{{ item.name() }}</td>
            <td>{{ item.amount() }}</td>
            <td><a href="{{ path('edit-item', {'id': item.id()}) }}">Edytuj</a></td>
            <td><a href="{{ path('remove-item', {'id': item.id()}) }}">Usuń</a></td>
        </tr>
    {% endfor %}
</table>