{% if error == true %}
    Wystąpił błąd podczas dodawania produktu
{% endif %}

{{ form_start(form) }}
    {{ form_errors(form) }}

    {{ form_row(form.name) }}
    {{ form_row(form.amount) }}

    {{ form_row(form.submit, { 'label': 'Dodaj' }) }}
{{ form_end(form) }}